@import "~bootstrap/scss/bootstrap.scss";


body{

    display:flex;
    position:center;
    padding-left:200px;
    margin:0px;
}

ul{

    list-style:none;
}

li {
    padding:10px;
}

.newTask {
 color:black;
 width: 400px;
}

.deleteAllButton{
    display:flex;
    position:center;

}

